<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="TouchSocket" version="2.0.18" targetFramework="net472" />
  <package id="TouchSocket.Core" version="2.0.18" targetFramework="net472" />
  <package id="TouchSocket.Dmtp" version="2.0.18" targetFramework="net472" />
  <package id="TouchSocket.Http" version="2.0.18" targetFramework="net472" />
  <package id="TouchSocket.Rpc" version="2.0.18" targetFramework="net472" />
</packages>